<div class="footer">
  <div class="about-us">
    The point of using Lorem Ipsum is that it has a more-or-less normal
    distribution of letters, as opposed to using 'Content here, content here',
    making it look like readable English. Many desktop publishing packages and
    web page editors now use Lorem Ipsum as their default model text, and a
  </div>
  <div class="external-links">
    <div class="links">
      <div class="link">Contact Us</div>
      <div class="link">About</div>
      <div class="link">Location</div>
      <div class="link">Orders</div>
      <div class="link">Careers</div>
      <div class="link">Status</div>
      <div class="link">Help</div>
    </div>
  </div>
  <div class="socials">
    <div class="socials-head">Follow Us</div>
    <div class="social-logos">
      <img class="white-icon" src="../images/icons/facebook.svg" />
      <img class="white-icon" src="../images/icons/instagram.svg" />
      <img class="white-icon" src="../images/icons/twitter.svg" />
      <img class="white-icon" src="../images/icons/youtube.svg" />
    </div>
  </div>
</div>
