<div class="footer">
  <div class="about-us">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras blandit
    pretium lectus, sed gravida risus. Nunc sed lectus luctus, semper lorem sit
    amet, gravida magna. Maecenas sa pellentesque pulvinar luctus.
  </div>
  <div class="nav-links">
    <div class="vertical-border"></div>
    <div class="links">
      <div class="link">About Us</div>
      <div class="link">Contact Us</div>
      <div class="link">Our Products</div>
      <div class="link">Orders</div>
      <div class="link">Help</div>
    </div>
  </div>
  <div class="socials">
    <div class="heading">Follow Us</div>
    <div class="icons">
      <img src="../images/icons/facebook.svg" />
      <img src="../images/icons/twitter.svg" />
      <img src="../images/icons/youtube.svg" />
      <img src="../images/icons/instagram.svg" />
    </div>
  </div>
</div>
