<div class="header">
  <img class="logo" src="../images/logo.png" />
  <div class="header-options">
    <div class="links">
      <div class="link" onclick="location.href = './'">HOME</div>
      <div class="link" onclick="location.href = './orders.html'">ORDERS</div>
      <div class="link" onclick="location.href = './our-story.html'">
        OUR STORY
      </div>
      <div class="link" onclick="location.href = './making-of.html'">
        MAKING OF
      </div>
    </div>
    <div class="user-options">
      <img
        id="cart-icon"
        src="../images/icons/shopping-basket.svg"
        class="white-icon"
      />
      <button id="register" class="white-btn">
        <span>Register</span>
      </button>
      <div class="user-info">
        <div id="name" class="name"></div>
        <div id="sign-out" class="sign-out">Sign out</div>
      </div>
    </div>
  </div>
</div>
