<div id="dimmer">
  <div class="modal">
    <div id="close" class="close-icon">
      <img src="./images/icons/close.svg" />
    </div>
    <h1>Register</h1>
    <div class="input-grid">
      <div class="input-container">
        <label>First Name</label>
        <input id="firstName" />
      </div>
      <div class="input-container">
        <label>Last Name</label>
        <input id="lastName" />
      </div>
      <div class="input-container">
        <label>Mobile Number</label>
        <input id="mobileNumber" />
      </div>
      <div class="input-container">
        <label>Email</label>
        <input id="email" />
      </div>
      <div>
        <button id="submit" class="black-btn submit">
          <span>Register</span>
        </button>
      </div>
    </div>
  </div>
</div>
