<div id="shopping-cart" class="shopping-cart-container">
  <div id="shopping-cart-close" class="close-icon">
    <img src="../images/icons/close.svg" />
  </div>
  <div class="cart-content">
    <div class="shopping-cart-header">Cart</div>
    <div class="cart-items-container"></div>
    <div class="empty-cart-container">
      <img src="../images/emptyCart.svg" />
      <div class="empty-cart-text">Add some items to your cart</div>
    </div>
  </div>
  <div class="cart-items-total">
    <div class="subtotal amount">
      <span>Sub Total</span>
      <span class="subtotal-value"></span>
    </div>
    <div class="delivery amount">
      <span>Delivery</span>
      <span class="delivery-value">12 BD</span>
    </div>
    <div class="divider"></div>
    <div class="total amount">
      <span>Total</span>
      <span class="total-value"></span>
    </div>
    <button class="check-out" onclick="location.href = './checkout.html'">
      Checkout
    </button>
  </div>
</div>
