@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: Poppins;
}

.heading {
  font-size: 3.2rem;
  text-transform: uppercase;
  letter-spacing: -2px;
  font-weight: 800;
  text-align: center;
}

@media screen and (max-width: 500px) {
  .heading {
    font-size: 2rem;
  }
}

/* HEADER STYLES */

#navbar {
  width: 100%;
}

.header {
  display: flex;
  background-color: black;
  color: white;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  row-gap: 20px;
}

.header .logo {
  object-fit: contain;
  width: 60px;
  cursor: pointer;
}

.header .header-options {
  display: flex;
  align-items: center;
  column-gap: 25px;
}

.header-options .links {
  display: flex;
  align-items: center;
  column-gap: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

.links .link {
  letter-spacing: 0.001rem;
  cursor: pointer;
  font-size: 15px;
  transition: all ease-in 200ms;
}

.links .link:hover {
  color: lightgrey;
}

.header-options .user-options {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.user-options .user-info {
  flex-direction: column;
  display: none;
}

.user-info .name {
  font-size: 14px;
  font-weight: 600;
}

.user-info .sign-out {
  font-size: 12px;
  cursor: pointer;
}

.shopping-cart {
  filter: brightness(0) invert(1);
  height: 26px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    justify-content: center;
  }
  .header .header-options {
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
  }
  .header-options .links {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 5px;
  }
}

/* Button Styles */

.black-btn,
.white-btn {
  font-family: Poppins;
  padding: 10px 25px;
  border: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
}

.white-btn {
  background-color: white;
  color: black;
}

.black-btn {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.selected-black-btn {
  background-color: black !important;
}

.selected-white-btn {
  background-color: white !important;
}

.black-btn span,
.white-btn span {
  position: relative;
}

.black-btn::before,
.white-btn::before {
  content: "";
  position: absolute;
  background-color: black;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  clip-path: polygon(45% 0%, 73% 0%, 50% 100%, 20% 100%);
  transition: clip-path 50ms ease-in;
}

.black-btn::before {
  background-color: black;
}

.white-btn::before {
  background-color: lightgrey;
}

.white-btn:hover::before,
.black-btn:hover::before {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

/* Modal Styles */

#dimmer {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

#dimmer .modal {
  background-color: white;
  color: black;
  height: auto;
  width: 600px;
  max-width: 90%;
  border-radius: 5px;
  padding: 20px;
  transition: all ease-out 300ms;
  transform: translateY(-40%);
  opacity: 0;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  position: relative;
}

.active-modal {
  transform: translateY(0) !important;
  opacity: 1 !important;
}

.input-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 20px;
  column-gap: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.close-icon {
  height: 26px;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
}

.close-icon img {
  height: 22px;
}

.input-container input {
  padding: 8px 5px;
  outline: none;
  border-radius: 2px;
  border: 1px solid black;
}

@media screen and (max-width: 500px) {
  .input-grid {
    grid-template-columns: 1fr;
  }
}

/* Taost */

.toast-container {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  height: auto;
  display: flex;
  justify-content: center;
}

.toast {
  padding: 10px 20px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  text-align: center;
  animation-name: slide-in;
  animation-duration: 100ms;
  animation-iteration-count: 1;
  animation-play-state: running;
  animation-timing-function: ease-out;
  max-width: 275px;
  font-weight: 600;
  font-family: Poppins;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .toast {
    width: 100% !important;
    max-width: 100%;
  }
}

.toast-success {
  background-color: rgb(36, 216, 36);
  color: white;
}

.toast-error {
  background-color: rgb(255, 43, 43);
  color: white;
}

.close-toast {
  transform: translateY(-100%);
  transition: all ease-in 100ms;
}

@keyframes slide-in {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

/* Shopping Card */

.shopping-cart-container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 275px;
  background-color: white;
  z-index: 100;
  padding: 15px 0 0 0;
  transform: translateX(100%);
  transition: all ease-in 200ms;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  box-shadow: 10px 0 10px 10px rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.shopping-cart-header {
  text-align: center;
  font-weight: 600;
  font-size: 1.1rem;
  color: rgb(36, 35, 35);
}

.cart-items-container {
  padding: 10px;
  flex: 1;
  max-height: 325px;
  overflow: scroll;
  width: 100%;
}

.cart-items-container::-webkit-scrollbar {
  appearance: none;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-self: center;
  background-color: rgb(31, 30, 30);
  color: white;
  padding: 10px 5px;
  border-radius: 10px;
  margin: 5px 0;
}

.cart-item-info {
  display: flex;
  column-gap: 5px;
}

.cart-item-info .cart-item-name {
  font-size: 10px;
}

.cart-item-info .cart-item-price {
  font-size: 10px;
  font-weight: 600;
}

.cart-item-info .cart-item-img {
  height: 44px;
  width: 44px;
  border-radius: 5px;
}

.cart-item-quantity {
  display: flex;
  column-gap: 5px;
  align-items: center;
  justify-content: center;
}

.cart-item-quantity .change-btn {
  font-size: 18px;
  cursor: pointer;
}

.cart-item-quantity .cart-item-number {
  font-size: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: black;
  width: 18px;
  height: 18px;
  border-radius: 100%;
}

.cart-items-total {
  background-color: rgb(31, 30, 30);
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  padding: 20px 15px;
  color: white;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.cart-items-total .check-out {
  background-color: rgb(255, 94, 0);
  border: none;
  padding: 5px;
  width: 100%;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  transition: all ease-in 200ms;
}

.amount {
  display: flex;
  justify-content: space-between;
}

.subtotal,
.delivery {
  color: gainsboro;
}

.total {
  font-weight: 600;
  font-size: 18px;
}

.cart-items-total .check-out:hover {
  background-color: rgb(255, 55, 0);
}

/* Footer */

.footer {
  background-color: black;
  height: 300px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow: hidden;
  color: white;
  padding: 0 20px;
  column-gap: 20px;
}

.footer .nav-links,
.about-us,
.socials {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer .nav-links {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;
}

.nav-links .vertical-border {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-left: 1px solid rgba(255, 255, 255, 0.4);
  border-right: 1px solid rgba(255, 255, 255, 0.4);
  transform: rotate(10deg);
}

.footer .nav-links .links {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 10px;
  justify-content: center;
  align-items: center;
}

.footer .about-us {
  font-size: 14px;
  flex: 1;
  letter-spacing: 1px;
}

.footer .socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;
}

.footer .socials .heading {
  font-size: 1.5rem;
  font-weight: 600;
}

.footer .icons {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
}

.footer .icons img {
  filter: brightness(0) invert(1);
  height: 20px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .footer {
    grid-template-columns: repeat(1, 1fr);
    padding: 20px;
  }
  .footer .nav-links .vertical-border {
    display: none;
  }
}

/* Utils */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
  padding: 30px 4rem;
}

@media screen and (max-width: 1200px) {
  .container {
    padding: 3rem 2rem;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 3rem 1rem;
  }
}

.space-5 {
  padding-top: 5px;
}

.space-10 {
  padding-top: 10px;
}

.space-15 {
  padding-top: 15;
}

.divider {
  width: 100%;
  background-color: rgba(63, 61, 61, 6);
  height: 1px;
  border-radius: 10px;
}

/* Product Card */

.product {
  min-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product .product-image {
  width: 100%;
  max-width: 250px;
  object-fit: contain;
  transition: all ease-in 100ms;
}

.product:hover .product-image {
  transform: scale(1.05);
}

.product .product-name {
  text-transform: uppercase;
  font-size: 13px;
  text-align: center;
}

.product .category {
  font-size: 12px;
  text-align: center;
  font-weight: 600;
}

.product .product-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  width: 100%;
}

.product .product-options .price {
  font-weight: 600;
  font-size: 13px;
}

.add-to-cart {
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .product {
    min-width: 100%;
    /* padding: 10px; */
  }
  .product .product-options {
    justify-content: space-around;
  }
}
