@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* HEADER STYLES */
#navbar {
  width: 100%;
}

.header {
  display: flex;
  background-color: black;
  color: white;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  row-gap: 20px;
}

.header .logo {
  object-fit: contain;
  width: 60px;
  cursor: pointer;
}

.header .header-options {
  display: flex;
  align-items: center;
  column-gap: 25px;
}

.header-options .links {
  display: flex;
  align-items: center;
  column-gap: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

.link {
  letter-spacing: 0.001rem;
  cursor: pointer;
  font-size: 15px;
  transition: all ease-in 200ms;
}

.link:hover {
  color: lightgrey;
}

.header-options .user-options {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.user-options .user-info {
  flex-direction: column;
  display: none;
}

.user-info .name {
  font-size: 14px;
  font-weight: 600;
}

.user-info .sign-out {
  font-size: 12px;
  cursor: pointer;
}

.white-icon {
  filter: brightness(0) invert(1);
  height: 26px;
  cursor: pointer;
}

.white-icon {
  filter: brightness(0) invert(1);
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    justify-content: center;
  }
  .header .header-options {
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
  }
  .header-options .links {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 5px;
  }
}

/* Main Section */

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  column-gap: 20px;
  row-gap: 35px;
  padding: 3rem 4rem;
}

.content {
  flex: 1;
}

.content .text {
  font-size: 2.5rem;
  text-transform: uppercase;
  line-height: 3rem;
  letter-spacing: -2px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  width: 80%;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 1;
}

.carousel .carousel-container {
  overflow: hidden;
  width: 90%;
  position: relative;
  display: flex;
  align-items: center;
  height: 400px;
}

.carousel .carousel-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
}

.carousel .carousel-container .inactive-right {
  transform: translateX(100%) !important;
}

.carousel .carousel-container .inactive-left {
  transform: translateX(-100%) !important;
}

.carousel .carousel-container .active {
  z-index: 9;
  opacity: 1 !important;
  transform: translate(0);
}

@media screen and (max-width: 1200px) {
  .container {
    padding: 3rem 2rem;
  }
  .content .text {
    width: 100%;
    font-size: 2rem;
  }
  .carousel .carousel-container {
    width: 350px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 3rem 1rem;
  }
  .carousel {
    width: 100%;
  }
  .carousel .carousel-container {
    width: 100%;
    height: 350px;
  }
}

@media screen and (max-width: 400px) {
  .carousel .carousel-container img {
    width: 100%;
  }
}

/* Arrow Styles */

.arrow {
  background-color: black;
  height: 45px;
  width: 45px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 200ms ease-in;
  position: absolute;
  z-index: 10;
}

#left:hover img {
  transform: translateX(-5px);
}

#right:hover img {
  transform: translateX(5px);
}

.arrow img {
  filter: brightness(0) invert(1);
  transition: all 200ms ease-in;
}

#left {
  left: 0px;
}

#right {
  right: 0px;
}

/* Button Styles */

.black-btn,
.white-btn {
  font-family: Poppins;
  padding: 10px 25px;
  border: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
}

.white-btn {
  background-color: white;
  color: black;
}

.black-btn {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.selected-black-btn {
  background-color: black;
}

.selected-white-btn {
  background-color: white;
}

.black-btn span,
.white-btn span {
  position: relative;
}

.black-btn::before,
.white-btn::before {
  content: "";
  position: absolute;
  background-color: black;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  clip-path: polygon(45% 0%, 73% 0%, 50% 100%, 20% 100%);
  transition: clip-path 50ms ease-in;
}

.black-btn::before {
  background-color: black;
}

.white-btn::before {
  background-color: lightgrey;
}

.white-btn:hover::before,
.black-btn:hover::before {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

/* Modal Styles */

#dimmer {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

#dimmer .modal {
  background-color: white;
  color: black;
  height: auto;
  width: 600px;
  max-width: 90%;
  border-radius: 5px;
  padding: 20px;
  transition: all ease-out 300ms;
  transform: translateY(-40%);
  opacity: 0;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  position: relative;
}

.active-modal {
  transform: translateY(0) !important;
  opacity: 1 !important;
}

.input-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 20px;
  column-gap: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.close-icon {
  height: 26px;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
}

.close-icon img {
  height: 22px;
}

.input-container input {
  padding: 8px 5px;
  outline: none;
  border-radius: 2px;
  border: 1px solid black;
  font-size: 15px;
  font-weight: 500;
}

@media screen and (max-width: 500px) {
  .input-grid {
    grid-template-columns: 1fr;
  }
}

/* Taost */

.toast-container {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  height: auto;
  display: flex;
  justify-content: center;
}

.toast {
  padding: 10px 20px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  text-align: center;
  animation-name: slide-in;
  animation-duration: 100ms;
  animation-iteration-count: 1;
  animation-play-state: running;
  animation-timing-function: ease-out;
  max-width: 275px;
  font-weight: 600;
  font-family: Poppins;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .toast {
    width: 100% !important;
    max-width: 100%;
  }
}

.toast-success {
  background-color: rgb(36, 216, 36);
  color: white;
}

.toast-error {
  background-color: rgb(255, 43, 43);
  color: white;
}

.close-toast {
  transform: translateY(-100%);
  transition: all ease-in 100ms;
}

@keyframes slide-in {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

/* Shopping Card */

.shopping-cart-container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 270px;
  background-color: white;
  z-index: 100;
  transform: translateX(100%);
  transition: all ease-in 200ms;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  border-top-left-radius: 10px;
  padding: 20px 0px 0 0px;
  box-shadow: 10px 0 10px 10px rgba(0, 0, 0, 0.5);
}

.shopping-cart-container .shopping-cart-header {
  font-weight: 600;
  font-size: 19px;
  text-align: center;
}
.cart-content {
  flex: 1;
}

.empty-cart-container {
  display: none;
}

.cart-items-container {
  height: 250px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 10px !important;
}

.cart-items-container::-webkit-scrollbar {
  appearance: none;
}

.cart-items-container:empty {
  display: none;
}

.cart-items-container:empty + .empty-cart-container {
  flex: 1;
  display: flex;
  height: 100%;
  flex-direction: column;
  row-gap: 20px;
  justify-content: center;
  padding: 10px;
  align-items: center;
}

.empty-cart-container .empty-cart-text {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
}

.shopping-cart-container .cart-items-total {
  background-color: rgb(30, 30, 30);
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
}

.cart-item {
  display: flex;
  background-color: rgb(30, 30, 30);
  border-radius: 10px;
  column-gap: 5px;
  color: white;
  align-items: center;
  padding: 10px 5px;
}

.cart-item .cart-item-img {
  height: 46px;
  width: 46px;
}

.cart-item .cart-item-info {
  font-size: 10px;
}

.cart-item .cart-item-info .cart-item-price {
  font-weight: 600;
}

.cart-item .quantity-container {
  display: flex;
  align-items: center;
  column-gap: 8px;
  font-size: 13px;
}

.cart-item .quantity-container .item-quantity {
  background-color: black;
  border-radius: 100%;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}

.quantity-container .change-btn {
  cursor: pointer;
}

.cart-items-total .divider {
  background-color: rgba(247, 247, 247, 0.303);
  width: 100%;
  height: 1px;
  border-radius: 10px;
}

.cart-items-total .amount {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  color: gainsboro;
}

.cart-items-total .total {
  color: white;
  font-weight: 600;
  font-size: 20px;
}

.cart-items-total .check-out {
  background-color: rgb(255, 102, 0);
  border: none;
  padding: 7px 0;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: all ease-in 200ms;
}

.cart-items-total .check-out:hover {
  background-color: rgb(255, 124, 37);
}

/* Footer  */

.footer {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  row-gap: 30px;
  column-gap: 30px;
  height: auto;
  padding: 3rem 30px;
  position: relative;
}

.footer > * {
  flex: 1;
}

.footer .external-links {
  padding: 0 40px;
}

.external-links .links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  row-gap: 20px;
}

.footer .external-links .link {
  white-space: nowrap;
  cursor: pointer;
}

.footer .external-links::before,
.external-links::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: rgba(246, 246, 246, 0.299);
  transform: rotate(10deg);
}

.footer .external-links::before {
  left: 35%;
}

.footer .external-links::after {
  right: 35%;
}

.footer .about-us {
  font-size: 15px;
}

.footer .socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 8px;
}

.socials .socials-head {
  font-weight: 600;
  font-size: 1.25rem;
}

.socials .social-logos {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}

.social-logos * {
  height: 20px;
}

/* Utils */

.heading {
  font-size: 3rem;
  color: black;
  font-weight: 800;
  letter-spacing: -1px;
  text-align: center;
  text-transform: uppercase;
  line-height: 2.5rem;
}

.sub-heading {
  font-size: 2.25rem;
  color: black;
  font-weight: 800;
  letter-spacing: -1px;
  text-align: left;
  text-transform: uppercase;
  line-height: 2.5rem;
}

.text {
  font-size: 15px;
  font-weight: 400;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.product .product-img {
  width: 250px;
}

.product .product-name {
  font-size: 14px;
}

.product .product-category {
  font-size: 13px;
  font-weight: 600;
}

.product-options {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-options .product-price {
  font-size: 13px;
  font-weight: 700;
}

.product-options .shopping-cart-btn {
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .footer {
    flex-direction: column;
    height: auto;
  }
  .footer .external-links::before,
  .external-links::after {
    display: none;
  }

  .footer .about-us {
    text-align: center;
  }

  .product-options {
    justify-content: space-around;
  }
  .product-options .heading {
    font-size: 2rem;
  }
}

.space-5 {
  padding-top: 5px;
}

.space-10 {
  padding-top: 10px;
}

.space-15 {
  padding-top: 15;
}
