.orders-container {
  width: 100%;
}

hr {
  border-radius: 5px;
  width: 80%;
  margin: 30px auto;
  border: none;
  border-top: 2px solid #d3d3d3;
}
@media (max-width: 768px) {
  hr {
    margin: 10px auto;
  }
}
