.orders-container {
  width: 100%;
}

hr {
  border-radius: 5px;
  width: 80%;
  margin: 30px auto;
  border: none;
  border-top: 2px solid #d3d3d3;
}
@media (max-width: 768px) {
  hr {
    margin: 10px auto;
  }
}

.orders-container {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}

.order-container {
  display: flex;
  flex-direction: column;
  row-gap: 35px;
  padding: 40px 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.order-info {
  display: flex;
  align-items: center;
  column-gap: 100px;
  row-gap: 25px;
  flex-wrap: wrap;
}

.order-info .info-item {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.order-info .info-item .label {
  font-weight: 400;
  font-size: 16px;
}

.order-info .info-item .value {
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
}

.order-items {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.order-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 18px;
}

.item-img {
  height: 105px;
  width: 105px;
}

.item-name {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 200;
  line-height: 1rem;
}

.item-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.category,
.item-value {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.item-value {
  font-size: 15px;
  font-weight: 600;
}

.empty-container {
  display: none;
}

.orders-container:empty {
  display: none !important;
}

.orders-container:empty + .empty-container {
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  column-gap: 10px;
}

.no-orders-img {
  height: 300px;
  width: 300px;
}

.no-orders-text {
  font-size: 1.25rem;
  font-weight: 500;
}
